.ContactoContent {
    display: flex;
    justify-content: center;
    width: 1270px;
    height: 600px;
    padding: 15px 15px 15px 15px;
}

.ContactoEnviar {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 530px;
    padding: 18px;
    font-size: 20px;
}

.input-group {
    height: 25px;
}

.areadetexto {
    height: 60px;
}

.Contacto {
    width: 550px;
    height: 530px;
    padding: 18px;
    font-size: 20px;
    text-align: center;
}